<div class="container mt-3">
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="input-group"><span class="input-group-text"><i class="fa fa-search"></i></span>
                <input #SearchBox class="form-control" type="text" placeholder="Type Name / Keyword . . ." />
                <button class="btn btn-success" (click)="Filter(SearchBox.value)"  type="button">Search</button></div>
                
        </div>
    </div>
</div>
<hr>
<div class="container mt-3">
    <div *ngIf="StoriesToDisplay.length==0" class="alert alert-warning" role="alert"><span><i class="fa fa-exclamation-triangle me-4"></i><strong>No record to display !</strong> ! !</span></div>
    <div  *ngIf="StoriesToDisplay.length>0" class="card shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5>{{FilteredStories.length}} Results Listed</h5>
                </div>
                <div class="col d-flex justify-content-end">
                    <nav *ngIf="FilteredStories.length>10" class="d-lg-flex justify-content-lg-end shadow-sm" style="min-width: auto;">
                        <ul class="pagination">
                            <li class="page-item" (click)="Prev()" ><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item d-none d-xl-block" [ngClass]="{'active':Page==pageno}" (click)="ShowPage(pageno)" *ngFor="let pageno of createRange(NumberOfPages)"><a class="page-link" href="#">{{pageno}}</a></li>
                            <li class="page-item" (click)="Next()"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr *ngFor="let Story of StoriesToDisplay">
                            <td class="p-3">


                                <div class="row">
                                    <div class="col-auto"><i class="fa fa-paperclip me-3" style="font-size: 49px;color: var(--bs-yellow);"></i></div>
                                    <div class="col">
                                        <h5 class="media-heading"><strong>{{Story.title}}</strong></h5>
                                        <p style="font-size: 13px;">{{Story.url}}</p>
                                        <div class="row">
                                            <div class="col">
                                                <p style="font-size: 13px;">By - <strong>{{Story.by}}</strong></p>
                                            </div>
                                            <div class="col text-end"><a target="_blank" *ngIf="Story.url" href="{{Story.url}}" class="btn btn-info" type="button">See more</a></div>
                                        </div>
                                    </div>
                                </div>


                                
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
